@import url("https://www.fontsquirrel.com/fonts/source-sans-pro#link");
@import url("https://www.fontsquirrel.com/fonts/Spin-Cycle-OT#link");

body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    z-index: 1000px;
    position: relative;
    color: white;
    width: 1000.392px;
    padding-left: 201px;
    padding-right: 199px;
    padding-top: 27.8px;
}

.header_logo{
    width: 161px;
    height: 32px;
    flex-shrink: 0;
}

.nav{
    color: white;
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 41px;
    flex-shrink: 0;
    }

.nav a{
    color: #FFF;
font-family: Source Sans Pro;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


main{
    background-image: url("images/headphones_hero_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
    top: -82px;
    display: flex;
    justify-content: center;
    align-items: center;
}